@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  @apply mx-auto px-8 xs:px-8 md:px-16 lg:px-16 max-w-[90rem];
}

h1 {
  @apply text-4xl font-bold tracking-tight md:text-6xl;
}

h2 {
  @apply text-2xl md:text-3xl font-bold leading-8;
}

h3 {
  @apply md:text-xl text-2xl font-semibold leading-8;
}

h4 {
  @apply text-lg md:text-xl font-semibold;
}

h5 {
  @apply text-lg font-semibold;
}

h6 {
  @apply text-base font-semibold;
}

p {
  @apply text-gray-700 leading-relaxed text-sm md:text-[0.95rem];
}

.sheetContent {
  @apply !ring-0 !outline-none w-full;
}

.sheetContent > button {
  display: none;
}

.input {
  @apply border border-gray-300 bg-white focus:border-gray-700 focus-visible:border-gray-700 focus:ring-0 focus-visible:outline-none  block h-11 px-2 py-1 w-full;
}

.textarea {
  @apply h-auto;
}

.input-label {
  @apply text-gray-500 mb-1 inline-block;
}

.input-error-message {
  @apply mt-1 text-red-700 text-sm;
}

/* LightBox Start */

.lightbox-wrapper {
  transition: none !important;
  -o-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

.lightbox-wrapper .react-viewer-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.lightbox-wrapper img {
  border-radius: 5px;
}

.lightbox-wrapper .react-viewer-footer {
  margin: 0;
}

.lightbox-wrapper .react-viewer-attribute {
  display: none;
}

.lightbox-wrapper .react-viewer-footer .react-viewer-toolbar {
  /* background-color: rgba(0, 0, 0, 0.8); */
  padding: 20px 0;
  height: 60px;
  margin: 0px !important;
}

/* LightBox end */

.parallax-background-container {
  clip-path: inset(0 0 0 0);
}

.padding-y {
  @apply py-10 sm:py-16 lg:py-[4.5rem];
}

.padding-t {
  @apply pt-10 sm:pt-16 lg:pt-[4.5rem];
}

.padding-b {
  @apply pb-10 sm:pb-16 lg:pb-[4.5rem];
}

/* buttons styles */

/* .btn {
  @apply transition-all text-center duration-300 px-6 py-2 sm:py-2.5 text-sm sm:text-lg border-2;
}

.btn-primary {
  @apply border-2 border-primary bg-primary text-white hover:bg-secondary hover:border-secondary hover:text-white;
}

.btn-primary-outlined {
  @apply border-2 border-primary text-primary hover:bg-primary hover:border-primary hover:text-white;
}

.btn-secondary {
  @apply border-2 border-secondary bg-secondary text-white hover:bg-bg-main hover:border-bg-main hover:text-white; 
}
*/

/* sections paddings */

.padding-y {
  @apply py-10 sm:py-16 lg:py-[4.5rem];
}

.padding-t {
  @apply pt-10 sm:pt-16 lg:pt-[4.5rem];
}

.padding-b {
  @apply pb-10 sm:pb-16 lg:pb-[4.5rem];
}

.header-contact-clip-path:before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.header-logo-clip-path:before {
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
}

.divider {
  @apply relative px-4 pt-2.5 after:bg-borderColor after:h-4 after:absolute after:right-0 after:top-[70%] after:w-px after:-translate-y-1/2 after:hidden after:lg:flex after:md:flex after:sm:flex;
}

@media screen and (max-width: 1500px) {
  .header:before {
    width: 27% !important;
  }
}

.shape-1:before {
  -webkit-animation: bounceTop 3s linear infinite;
  animation: bounceTop 3s linear infinite;
  background: #ac8d68;
  border-radius: 49% 51% 67% 33% / 48% 16% 84% 52%;
  content: '';
  height: 100px;
  left: 10%;
  position: absolute;
  top: 18%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 108px;
  z-index: 10;
}

@keyframes bounceTop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
